#map {
    width: 1600px;
    height: 850px;
    margin-top: 226px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__form {
        width: 770px;
        height: 450px;
        background-color: white;
        background-image: url(../images/background-form.png);
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 0 -2px 20px $title-text;
        z-index: 1;
        margin-top: -300px;
        border: none;
    }
    &__line {
        width: 100px;
        text-align: center;
        height: 1px;
        background-color: $title-text;
        border: none;
        margin-top: 60px;
    }
    &__title {
        font-family: $montserrat;
        font-size: 44px;
        font-weight: 700;
        color: $title-text;
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        &-info {
            width: 400px;
            height: 196px;
            margin-left: 60px;
            margin-top: 42px;
            &__text {
                font-family: $montserrat;
                font-size: 18px;
                line-height: 3.5;
                color: $black-text;
            }
            &__marker {
                color: $form-logo;
            }
        }
        &-form {
            width: 310px;
            height: 195px;
            margin-top: 42px;
            margin-right: 60px;
            position: relative;
            &-name {
                width: 310px;
                height: 41px;
                font-family: $montserrat;
                font-size: 18px;
                line-height: 1.5;
                color: $black-text;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $black-text;
                &>:placeholder-shown {
                    color: $placeholder-text;
                    border: 1px solid $placeholder-text;
                }
                &:hover, :focus {
                    background-color: $form-hover;
                }
            }
            &-email {
                width: 310px;
                height: 41px;
                margin-top: 33px;
                font-family: $montserrat;
                font-size: 18px;
                line-height: 1.5;
                color: $black-text;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $black-text;
                &>:placeholder-shown {
                    color: $placeholder-text;
                    border: 1px solid $placeholder-text;
                }
                &:hover, :focus {
                    background-color: $form-hover;
                }
            }
            &-btn {
                width: 140px;
                height: 50px;
                border: 1px solid $title-text;
                background-color: transparent;
                font-family: $montserrat;
                font-size: 18px;
                line-height: 1.5;
                color: $black-text;
                bottom: 0;
                position: absolute;
                right: 0;
                &:hover, :focus {
                    color: $white-text;
                    background-color: $title-text;
                    border: 1px solid $white-text;
                }    
            }
        }
    }

}

#success {
    background-color: green;
    z-index: 3;
}




    