#map {
    width: 1600px;
    height: 850px;
    margin-top: 226px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__form {
        width: 770px;
        height: 450px;
        background-image: url(../images/background-form.png);
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 2px 2px 20px $title-text;
        z-index: 1;
        position: relative;
        bottom: 300px;
        border: none;
    }
    &__line {
        width: 100px;
        text-align: center;
        height: 1px;
        background-color: $title-text;
        border: none;
        margin-top: 60px;
    }
    &__title {
        font-family: $montserrat;
        font-size: 44px;
        font-weight: 700;
        color: $title-text;
        text-align: center;
    }
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        &-info {
            width: 400px;
            height: 196px;
            margin-left: 60px;
            margin-top: 42px;
            &__text {
                font-family: $montserrat;
                font-size: 18px;
                line-height: 3.5;
                color: $black-text;
            }
            &__marker {
                color: $form-logo;
            }
        }
    }

}




    