.footer {
    width: 1600px;
    height: 549px;
    background-image: url(../images/background-footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -150px;
    &__container {
        width: 770px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
    }
    &__credit {
        &-logo {
            width: 241px;
            height: 54px;
        }
        &-copyright {
            margin-top: 41px;
            font-family: $montserrat;
            font-size: 14px;
            color: $white-text;
        }
    }
    &__social {
        &>a {
            text-decoration: none;
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
        &-icon {
            color: $white-text;
            font-size: 40px;
            &:hover, :focus {
                color: $title-text;
            }
        }
    }
}