$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$white-text: #fff; 
$title-text: #2C4058; 
$black-text: #000; 
$date-text: #55B7FF; 
$form-logo: #7E5AFF; 
@import 'header'; 
@import 'projects'; 
@import 'news';
@import 'gallery'; 
@import 'contact';  




body {
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

main {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}






 
   
