$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$white-text: #fff; 
$title-text: #2C4058; 
$black-text: #000; 
$date-text: #55B7FF; 
$form-logo: #7E5AFF;
$placeholder-text: rgba(75, 85, 98, 0.5); 
$form-hover: rgba(126, 90, 255, 0.301);

@import 'header'; 
@import 'projects'; 
@import 'news';
@import 'gallery'; 
@import 'contact';
@import 'footer';   




body {
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}

main {
    max-width: 1600px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}






 
   
